@* Home page to navigate towards desired routes. Need someone to go over the text on this page. *@

<h1>Welcome to Food Saver webpage.  To get a food schedule please navigate to the shopping list, to browse our recipes please navigate to that section</h1>

<button class="btn btn-default">@Html.ActionLink("Take a look at Our Recipes", "Index", "Recipes")</button>
