@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<h1>Welcome to Food Saver webpage.  To get a food schedule please navigate to the shopping list, to browse our recipes please navigate to that section</h1>

<button class="btn btn-default">@Html.ActionLink("Take a look at Our Recipes", "Index", "Recipes")</button>
<button class="btn btn-default">@Html.ActionLink("Add recipes to create a shopping list for this week or wtvr i dunno i dgaf", "Index", "ShoppingList")</button>