@{
    ViewData["Title"] = "ShoppingList";
}

<h1>@ViewData["Title"]</h1>

@using FoodSaverClient.Models
@model User

@{
  var multiplier = ViewBag.servingMultiplier as List<SelectListItem>;
}

@using (Html.BeginForm())
{
  
    <div class="card">
      <img src="..." class="card-img-top" alt="recipe img">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        @Html.Label("Servings", "Servings: ")
        @Html.DropDownListFor(model => model.ServingMultiplier, multiplier,"--Servings--")
         <button type="submit" class="btn btn-info">Submit Serving Size</button>
      </div>
    </div>
  

}

