@{
    ViewData["Title"] = "ShoppingList";
}

@using FoodSaverClient.Models
@model User


@{
  var multiplier = ViewBag.servingMultiplier as List<SelectListItem>;
}

@using (Html.BeginForm())
{
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        @Html.Label("Servings", "Servings: ")
        @Html.DropDownListFor(model => model.ServingMultiplier, multiplier,"--Servings--")
         <button type="submit" class="btn btn-info" value="servingMultiplier">Submit Serving Size</button>
      </div>
    </div>
}

