@* - THINK ABOUT NAMING CONVENTION FOR THIS VIEW - 
main ordering page for user to enter which recipes they want to select
*@ 

@{
    ViewData["Title"] = "ShoppingList";
}

<div class="main">

  <h1>@ViewData["Title"]</h1>
  <div class="sidenav">
    <p class="sidenav-element">User Info</p>
    <!-- User data (budget, servings, etc) goes here -->
    <p class="sidenav-element">Element1<p>
    <p class="sidenav-element">Element2<p>
    <p class="sidenav-element">Element3<p>
    
  </div>

  @* BEGIN FORM *@ 
  <div class ="row">
    <div class="col-md-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="recipe img">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>

          @* DROPDOWN FOR QUANTITY *@
          @* RADIO BUTTON *@

          <a href="#" class="btn btn-primary">View Recipe Details</a>
        </div>
      </div>
    </div>

  </div>
</div>

@* FUNCTIONALITY WE WANT: 

- ability to select any number of recipe options that will update in real time the information in a footer bar
- needs to not refresh or reset the page each time an option is selected

USING JAVASCRIPT WITHIN RAZOR CSHTML
- to use javascript, assign variables with razor calls within script tags
- use javascript to dynamically update the html sidebar for price, servings created, etc
- pass on the changed variables to razor models 
- change the models on submit

<script>

  var pricePerServing = @Recipe.PricePerServing;
  var recipeName = @Recipe.RecipeName;
  
  

</script>

*@ 