@* - THINK ABOUT NAMING CONVENTION FOR THIS VIEW - 
main ordering page for user to enter which recipes they want to select
*@ 

@* BEGIN FORM *@ 
<div class ="row">
  <div class="col-md-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="recipe img">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>

        @* DROPDOWN FOR QUANTITY *@
        @* RADIO BUTTON *@

        <a href="#" class="btn btn-primary">View Recipe Details</a>
      </div>
    </div>
  </div>

</div>