/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 40px;                 /* keep height and line-height the same value */
  line-height: 40px;            /* Vertically center the text there */
  z-index: 0;                   /* "0" keeps it above sidenav */
  background-color: rgb(255, 255, 255);      /* CHANGE THIS. WHITE IS BORING */
}

/* ShoppingList sideBar styles
---------------------------------------------------------*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: -1;  /* Keeps sidenav under all other elements (z-axis). "1" keeps it above most other elements */
  top: 0;
  right: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 60px; /* Distance sidenav-element is from top of sidenav */
}

.sidenav p {
  text-align: center;    /* Centers all <p> tags within sidenav */
}
.sidenav-element {
  padding: 1rem;
  color: #818181;
  display: block;
}
.sidenav p {             /* no need for this if we have no anchor tags */
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav p:hover {       /* no need for this if we have no anchor tags */
  color: #f1f1f1;
}

.main {     /* Do not keep this as .main; This is the div that contains everything OUTSIDE of teh NavBar */
  margin-right: 160px; /* KEEP THIS THE SAME AS THE WIDTH OF .SIDENAV also NOTE: may need to change to margin-right depending how ShoppingList View looks*/
  padding: 0px 10px;
}
