@{
    ViewData["Title"] = "Recipes";
}

@using FoodSaverClient.Models
@model List<Recipe>

<h1>@ViewData["Title"]</h1>

<h1>Here is a list of the available recipes:</h1>

<ul>
@foreach (Recipe recipe in Model)
{
    <li>@Html.ActionLink(@recipe.RecipeName, "Details", new Recipe {RecipeId = recipe.RecipeId, RecipeName = recipe.RecipeName, Directions = recipe.Directions, NutritionInfo = recipe.NutritionInfo, RecipeTips = recipe.RecipeTips, PricePerServing = recipe.PricePerServing})</li>
}
</ul>