@* List of all recipes available on the website; can be clicked to get further details about the ingredients for that recipe, price, etc *@

@{
    ViewData["Title"] = "Recipes";
}

<h1>@ViewData["Title"]</h1>


